{% extends 'airport/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <h2>Search Flights</h2>
  <form method="get">
    <input type="text" name="search_criteria" placeholder="Search Criteria">
    <select name="sort_by">
      <option value="">Sort by</option>
      <option value="flight_number">Flight Number</option>
      <option value="origin">Origin</option>
      <option value="destination">Destination</option>
      <option value="departure_time">Departure Time</option>
      <option value="estimated_departure">Estimated Departure</option>
      <option value="arrival_time">Arrival Time</option>
      <option value="estimated_arrival">Estimated Arrival</option>
      <option value="day">Day</option>
      <option value="status">Status</option>
    </select>
    <button type="submit">Search</button>
  </form>
<table class="table">
    <tr>
      <th>Flight Number</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Departure Time</th>
      <th>Estimated Departure</th>
      <th>Arrival Time</th>
      <th>Estimated Arrival</th>
      <th>Day</th>
      <th>Status</th>
    </tr>
    {% for schedule in schedules %}
      <tr>
        <td>{{ schedule.flight_number }}</td>
        <td>{{ schedule.origin }}</td>
        <td>{{ schedule.destination }}</td>
        <td>{{ schedule.departure_time }}</td>
        <td>{{ schedule.estimated_departure }}</td>
        <td>{{ schedule.arrival_time }}</td>
        <td>{{ schedule.estimated_arrival }}</td>
        <td>{{ schedule.day }}</td>
        <td>{{ schedule.status }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}